.main-nav__wrap {
  display: flex;
  overflow: hidden;
}

.main-nav__left {
  display: flex;
  flex-direction: column;
  width: 90px;
  background-color: $blue;
  padding: 50px 30px 30px;
}

.main-nav__toggle {
  position: relative;
  top: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 100px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: $white;
    box-shadow: 0 10px 0 0 $white, 0 20px 0 0 $white;
    opacity: 0.4;
  }

  &:hover:before {
    opacity: 1;
  }
}

.main-nav__toggle-arrow {
  position: absolute;
  top: 100px;
  left: 391px;
  width: 38px;
  height: 38px;
  font-size: 0;
  background: $white url("../img/arrow-left.svg") no-repeat 13px center;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.main-nav__link {
  width: 32px;
  height: 32px;
  margin-bottom: 35px;
  opacity: 0.4;
  transition: .2s;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    opacity: 1;
  }

  &--bottom {
    margin-top: 300px;
  }

  &--active {
    position: relative;

    &:before {
      width: 16px;
      height: 16px;
      background-color: $white;
      transform: rotate(45deg);
    }
  }
}

.main-nav__link-img {
  width: 32px;
  height: 32px;
}

.main-nav__right {
  left: 90px;
  width: 0;
  background-color: $white;
  transition: 0.2s;
}

.main-nav--opened .main-nav__right {
  width: 320px;
}

.main-nav__title {
  margin: 42px 42px 34px 30px;
}

.main-nav__right-wrap {
  display: flex;
  flex-direction: column;
}

.main-nav__right-link {
  font-family: 'DIN', sans-serif;
  margin: 0 15px 15px;
  padding: 15px;
  font-weight: 500;
  line-height: 22px;
  color: $black;
  border-radius: 4px;

  &:hover {
    color: $blue;
    background-color: $light-blue;
  }

  &--active {
    position: relative;
    color: $blue;
    background-color: $light-blue;

    &:before {
      content: "";
      position: absolute;
      top: 20px;
      left: -23px;
      width: 16px;
      height: 16px;
      background-color: $white;
      transform: rotate(45deg);
    }
  }

  &:focus {
    color: $blue;
    background-color: $light-blue;
  }
}

.main-nav.main-nav--opened {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
