.recent {
  margin-bottom: 50px;
}

.recent__list {
  display: flex;
  justify-content: space-between;
}

.recent__item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 20px;
  height: 160px;
  padding: 38px 20px 25px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  color: $black;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}


.recent__number {
  position: absolute;
  top: 0;
  right: 20px;
  font-family: "DIN Condensed", sans-serif;
  font-size: 53px;
  line-height: 40px;
  font-weight: bold;
  color: $light-grey;
  text-transform: uppercase;
}

.recent__title {
  margin-bottom: 1px;
  font-family: "DIN", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: $black;
}

.recent__data {
  opacity: 0.5;
  flex-grow: 1;
}

.recent__description {
  opacity: 0.5;
}

// recent-slider
.recent-slider {
  position: relative;
}

.recent-slider .slick-arrow {
  position: absolute;
  left: auto;
  top: -40px;
  width: 36px;
  height: 36px;
  background-color: $grey;
  font-size: 0;
}

.recent-slider .slick-arrow.slick-prev  {
  right: 42px;

  &:before {
    position: absolute;
    top: 19px;
    left: 13px;
    content: "";
    width: 7px;
    height: 2px;
    background-color: $black;
    opacity: 0.8;
    transform: rotate(45deg);
  }

  &:after {
    position: absolute;
    top: 15px;
    left: 13px;
    content: "";
    width: 7px;
    height: 2px;
    background-color: $black;
    opacity: 0.8;
    transform: rotate(-45deg);
  }
}

.recent-slider .slick-arrow.slick-next {
  right: 0;

  &:before {
    position: absolute;
    top: 19px;
    left: 13px;
    content: "";
    width: 7px;
    height: 2px;
    background-color: $black;
    opacity: 0.8;
    transform: rotate(-45deg);
  }

  &:after {
    position: absolute;
    top: 15px;
    left: 13px;
    content: "";
    width: 7px;
    height: 2px;
    background-color: $black;
    opacity: 0.8;
    transform: rotate(45deg);
  }
}

.recent-slider .slick-next.slick-disabled:before,
.recent-slider .slick-prev.slick-disabled:before,
.recent-slider .slick-next.slick-disabled:after,
.recent-slider .slick-prev.slick-disabled:after {
  opacity: 0.2;
}



