.recent {
  margin-bottom: 50px;
}

.recent__list {
  display: flex;
}

.recent__item {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  height: 160px;
  padding: 38px 20px 25px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  color: $black;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(136, 186, 230, 0.18);
    border-radius: 5px;
    transition: all 2s ease;
  }

  &:hover:before {
    width: 100%;
  }
}


.recent__number {
  position: absolute;
  top: 0;
  right: 20px;
  font-family: "DIN Condensed", sans-serif;
  font-size: 53px;
  line-height: 40px;
  font-weight: bold;
  color: $light-grey;
  text-transform: uppercase;
}

.recent__title {
  margin-bottom: 1px;
  font-family: "DIN", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: $black;
  z-index: 10;
}

.recent__data {
  opacity: 0.5;
  flex-grow: 1;
}

.recent__description {
  opacity: 0.5;
}

// slider
.recent__list.owl-carousel .owl-stage-outer {
  overflow: visible;
}

.recent__list .owl-nav {
  position: absolute;
  top: -55px;
  right: 0;
  transition: 0.2s;
}

.recent__list .owl-nav .disabled:before,
.recent__list .owl-nav .disabled:after {
  opacity: 0.2;
}

.recent__list .owl-prev,
.recent__list .owl-next {
  position: relative;
  width: 36px;
  height: 36px;
  background-color: $grey !important;
  outline: none;
}

.recent__list .owl-prev {
  margin-right: 5px;
}

.recent__list .owl-prev span,
.recent__list .owl-next span {
  display: none;
}

.recent__list .owl-prev:before,
.recent__list .owl-prev:after,
.recent__list .owl-next:before,
.recent__list .owl-next:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: $black;
  transition: 0.2s;
}

.recent__list .owl-prev:before {
  transform: rotate(-45deg);
  top: 15px;
  right: 12px;
}

.recent__list .owl-prev:after {
  transform: rotate(45deg);
  top: 21px;
  right: 12px;
}

.recent__list .owl-next:before {
  transform: rotate(45deg);
  top: 15px;
  right: 12px;
}

.recent__list .owl-next:after {
  transform: rotate(-45deg);
  top: 21px;
  right: 12px;
}

