.select2-container--my_select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  outline: none;
  font-family: "DIN", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
  background-color: $grey;
  border-radius: 4px;
  width: 100% !important;
}

.select2-container .select2-selection--single {
  height: auto;
}

.select2-selection--single {
  padding: 0 12px;
  box-shadow: none !important;
  height: 36px !important;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  width: 100%;
  transition: all .2s;
}

.select2-selection--single .select2-selection__rendered {
  position: relative;
  top: 7px;
  padding: 0 !important;
}

.select2-selection__arrow {
  position: absolute;
  display: block;
  width: 7px;
  height: 7px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-top: 0;
  border-right: 0;
  right: 15px;
  top: 38%;
  line-height: 1;
  opacity: 0.5;
  transform: rotate(-45deg);
}

.select2-container--open .select2-dropdown--below {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 4px;
  z-index: 1151;
  line-height: 1.25;
}

.select2-container--open .select2-dropdown--below .select2-search--dropdown {
  display: none;
}

.select2-results {
  position: relative;
}

.select2-results__options {
  padding: 0;
}

.select2-results__option {
  padding: 9px 12px;

  &:last-child {
    border-bottom: none;
  }
}

.select2-results__option[aria-selected] {
  border-radius: 4px;
}

.select2-results__option--highlighted {
  background-color: $grey;
}










