@font-face {
  font-family: "DIN";
  src: url("../fonts/DINPT.eot");
  src: url("../fonts/DINPT.eot") format("embedded-opentype"),
       url("../fonts/DINPT.otf") format("otf"),
       url("../fonts/DINPT.svg") format("svg"),
       url("../fonts/DINPT.ttf") format("truetype"),
       url("../fonts/DINPT.woff") format("woff"),
       url("../fonts/DINPT.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "DIN";
  src: url("../fonts/DINPTMedium.eot");
  src: url("../fonts/DINPTMedium.eot") format("embedded-opentype"),
       url("../fonts/DINPTMedium.otf") format("otf"),
       url("../fonts/DINPTMedium.svg") format("svg"),
       url("../fonts/DINPTMedium.ttf") format("truetype"),
       url("../fonts/DINPTMedium.woff") format("woff"),
       url("../fonts/DINPTMedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "DIN Condensed";
  src: url("../fonts/DINCondensed.eot");
  src: url("../fonts/DINCondensed.eot") format("embedded-opentype"),
       url("../fonts/DINCondensed.otf") format("otf"),
       url("../fonts/DINCondensed.svg") format("svg"),
       url("../fonts/DINCondensed.ttf") format("truetype"),
       url("../fonts/DINCondensed.woff") format("woff"),
       url("../fonts/DINCondensed.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

